.DS_Store
.metadata
RemoteSystemsTempFiles
soajmetal/.classpath
soajmetal/.project
soajmetal/.settings
soajmetal/bin
soajmetal/NSGAII_main.log
soajmetal/src/hamcrest-core-1.3.jar
soajmetal/src/junit-4.8.1.jar
